@font-face {
  font-family: 'Pixellari';
  src: url('../res/fonts/Pixellari.ttf');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  font-size: 24px;
  font-family: 'Pixellari';
  cursor: crosshair;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

a, a:visited {
  text-decoration: none;
  color: #0fa;
}

a:hover, a:focus {
  color: #afe;
}

div.meta-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

canvas {
  background-color: black;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

div.content-wrapper {
  /*
  border: 2px solid #0fa;
  border-radius: 5px;
  */
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  overflow-x: none;
  overflow-y: auto;
}

div.content {
  background-color: rgba(90, 90, 90, 75%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 5px rgba(60, 60, 60, 75%);
}

.text-center {
  text-align: center;
}

div.text {
  margin-top: 5px;
}

div.content hr {
  margin: 20px 0 0 0;
}

div.button-container {
}

button {
  width: 100%;
  border: none;
  padding: 15px 5px;
  font-family: 'Pixellari';
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px #666;
  background-color: #999;
  margin-top: 15px;
  transition: transform 0.1s;
}

button:hover {
  transform: translate(0, 5px);
  box-shadow: none;
  background-color: #bbb;
}

button.setting {
  background-color: #097;
  box-shadow: 0 5px #064;
}

button.setting:hover {
  background-color: #0b9;
  box-shadow: none;
}

